# ============================================================================================================= #
# [!] OBS: É bem provável que este arquivo não seja carregado automáticamente ao clonar o repositório. Para fazer
# com que a IDE reconheça as variáveis de ambientes deste arquivo você precisa:
# 1 - Selecione o arquivo 'Main' (ou qualquer que seja a classe executável da aplicação)
# 2 - Clique em 'Current File' > 'Edit Configurations...'
# 3 - Selecione a opção 'Environment Variables' clicando no primeiro ícone (formato de pasta)
# 4 - Navegue até a pasta onde está o '.env' e então selecione-o
# 5 - Clique em 'Apply' e depois 'OK'
# ============================================================================================================= #
# === DATABASE CREDENTIALS === #
DB_HOST="localhost"
DB_DATABASE=""
DB_USER=""
DB_PASSWORD=""
DB_PORT=3306

# ============================================================================================================= #
# === AWS CREDENTIALS === #
# [!] OBS: Toda vez que o Laboratório AWS caí, isto é, a cada 4hrs (ou se você manualmente encerrar a sessão), as
# credenciais abaixo são RESETADAS. Até o momento não automatizamos a obtenção destas variáveis, então o trabalho
# de atuaização terá de ser manual. As 3 credenciais podem ser obtidas acessando o terminal do Laboratório da AWS
# e digitando: "cat .aws/credentials"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=

# ============================================================================================================= #
# === ATLASSIAN CREDENTIALS === #
# [!] OBS: estamos trabalhando para que essas credenciais sejam obtidas dinâmicamente por meio de
# consultas ao banco de dados. Sendo assim, é recomendável preenche-las apenas a fim de realizar
# testes e debugs na aplicação.

JIRA_BASE_URL=
JIRA_USER_EMAIL=
JIRA_PROJECT_KEY=
JIRA_API_TOKEN=